<!--
 * Authors & Student Number: Fei Wang 200278460
 * Date Modified: 08-18-2016
 * File Description: This is the View to list all the Genres
-->

@model IEnumerable<COMP2006_Final_FeiWang.Models.Genre>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.GenreId })
        </td>
    </tr>
}

</table>
